@model CRUDNet7MVC.Models.Contact
@{
    ViewData["Title"] = "Editar - Contacto";
}

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Edición de contacto</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="Edit" method="POST">
                    <!-- User ID hidden -->
                    <input type="hidden" asp-for="ContactId"/>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="form-label">Nombre</label>
                        <input asp-for="Firstname" class="form-control" placeholder="Ingresa el nombre *" />
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-3">Apellido</label>
                        <input asp-for="Lastname" class="form-control" placeholder="Ingresa el apellido *" />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-3">Teléfono</label>
                        <input asp-for="Phone" class="form-control" placeholder="Ingresa el teléfono" />
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-3">Celular</label>
                        <input asp-for="Cellphone" class="form-control" placeholder="Ingresa el celular *" />
                        <span asp-validation-for="Cellphone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-3">Correo Electrónico</label>
                        <input asp-for="Email" class="form-control" placeholder="Ingresa el correo electrónico *" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-warning d-block mx-auto"> <i class="bi bi-pencil-fill"></i>Editar contacto</button>
                    </div>
                </form>
                <a asp-controller="Home" asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>